<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  




    <title>Clavax | {% block title %} {% endblock title %} </title>
  </head>
  <body>
    
    
    {% block main-content %} {% endblock main-content %}


    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script>
      $(function(){
        var st_details = JSON.parse(JSON.parse(document.getElementById('student-details').textContent));
        console.log(st_details);
        $("select").addClass("form-control");
        $(".user-name").click(function(){
            $("#mdl-user-detail").modal("show");
            var id = $(this).attr("data-id");
            console.log(id);
            $.each(st_details, function(i, v){
                console.log(v);
                if(v.id == id){
                    console.log("yes in");
                    $("#tbl-student-detail").html(`
                    <tr><td>Name: </td><td>`+v.studentName+`</td></tr>
                    <tr><td>Father's Name: </td><td>`+v.fathersName+`</td></tr>
                    <tr><td>Address</td><td>`+v.address+`</td></tr>
                    <tr><td>City:</td><td>`+v.city+`</td></tr>
                    <tr><td>State:</td><td>`+v.state+`</td></tr>
                    <tr><td>Pin:</td><td>`+v.pin+`</td></tr>
                    <tr><td>Phone No:</td><td>`+v.phoneNumber+`</td></tr>
                    <tr><td>Marks%:</td><td>`+v.marks+`</td></tr>
                    <tr><td>Email:</td><td>`+v.email+`</td></tr>
                    <tr><td>DOB:</td><td>`+v.dob+`</td></tr>
                    <tr><td>Class Opted:</td><td>`+v.classOpted+`</td></tr>
                    <tr><td>Date Enrolled:</td><td>`+v.dateEnrolled+`</td></tr>
                    
                    `)
                }
            })
            
        })
        $(".close-modal").click(function(){
            $("#mdl-user-detail").modal("hide");
        })
      })
    </script>
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <script src="{% static 'myapi/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'myapi/js/all.min.js' %}"></script>
    <script src="{% static 'myapi/js/myscript.js' %}"></script>
  </body>
</html>