{% extends 'myapi/base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock title %}
{% block main-content %}
<div class="container-fluid">
    <div class="row">

        <main role="main" class="col-sm-12 ml-sm-auto col-md-12  main " style="padding-top: 10px;">
            <!--<h1>Welcome {{request.user.first_name|capfirst}}</h1>-->

            <section class="row  placeholders">
                <div class="col-md-12">
                    <div class="col-md-12 clearfix" style="margin-bottom:20px;">                        
                        <h3 class="logo"> <a style="width: 230px;height: 44px;display: block;border: 1px solid #3e3d3d;text-align: center;">Enrollment App</a></h3>
                    </div>
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-success">{{message}}</div>
                    {% endfor %}
                    {% endif %}
                    <div class="col-md-12 clearfix" style="margin-bottom: 10px;">
                        
                        <a class="btn btn-primary float-end " href="/studentAdd/">New Student</a>
                        

                    </div>
                    <div class="col-md-12">
                   <center> <table class="table table-striped" style="padding-left: 100px;border: 1px solid;">
                        <thead>
                            <tr>

                                <th scope="col">Sno</th>
                                <th scope="col">Student Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone No</th>

                                <th scope="col">Class</th>
                                <th scope="col">Mark%</th>
                                <th scope="col">Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for student in students %}
                            <tr>

                                <td>{{student.id}}</td>
                                <td><a class="user-name" data-id="{{student.id}}" href="#"  >{{student.studentName|capfirst}}</a></td>
                                <td>{{student.email}}</td>

                                <td>{{student.phoneNumber}}</td>
                                <td>{{student.classOpted}}</td>
                                <td>{{student.marks}}</td>
                                <td><a class="btn btn-primary " href="{% url  'studentUpdate' student.id %}" >Update</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </center>
            </div>

            
    <div id="mdl-user-detail" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Student Details</h5>
              <button type="button" class="close close-modal"  aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <table id="tbl-student-detail" class="table">
                  
                </table>
            </div>
            <div class="modal-footer">
              
              <button type="button" class="btn btn-secondary close-modal" >Close</button>
            </div>
          </div>
        </div>
      </div>





                    <nav aria-label="Page navigation example">
                        <ul class="pagination">{% if students.has_other_pages %}


                            {% if students.has_previous %}
                            <li class="page-item"><a class="page-link"
                                    href="?page={{ students.previous_page_number }}"><< <</a></li>
                            {% else %}
                            <li class="disabled"><span></span></li>
                            {% endif %}

                            {% for i in students.paginator.page_range %}
                            {% if users.number == i %}
                            <li class="page-item"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}

                            {% endfor %}

                            {% if students.has_next %}
                            <li class="page-item"><a class="page-link"
                                    href="?page={{ students.next_page_number }}"> >></a></li>
                            {% else %}
                            <li class="disabled"><span></span></li>
                            {% endif %}

                            {% endif %}

                        </ul>
                    </nav>
                </div>


            </section>
        </main>

    </div>
    {{student_json|json_script:"student-details"}}
    
    {% endblock main-content %}